# Database Configuration
POSTGRES_USER=mattilda
POSTGRES_PASSWORD=mattilda
POSTGRES_DB=mattilda

# Backend Database Connection
DB_USERNAME=mattilda
DB_PASSWORD=mattilda
DB_HOSTNAME=db
DB_PORT=5432
DB_NAME=mattilda

# Test Database Name
DB_NAME_TEST=mattilda_test

# Backend Settings
DEBUG=true

# Frontend Configuration
VITE_API_PROXY_TARGET=http://backend:8000
